@import url('https://fonts.googleapis.com/css2?family=Lato:300&family=Oswald:wght@200..700&display=swap');

/* general styling rules first */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  color: #777777;
}

h2 { 
  font-family: Oswald;
  text-transform: uppercase; /* Make logo uppercase */
  letter-spacing: 4px; /* Space out lettering */
  color: #555555;
}

/* Logo and nav specific styling */
#logo {
  float: left; /* Float logo to left */
  font-size: 280%; /* Enlarge font */
  margin-left: 30px; /* Shift logo to the right*/
}

#menu {
  font-size: 110%;
  list-style-type: none; /* Remove bullet points from menu items */
  letter-spacing: 4px; /* Space out lettering */
}

#logo, #menu {
  line-height: 75px; /* Create better vertical alignment */
}

#menu li {
  float: right; /* Float menu items to right */
  margin-right: 30px; /* shift menu items to the left */
}

/* Style links */
#menu a {
  text-decoration: none; /* Remove hyperlink styling */
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777; /* Show selected menu item */
}

.active {
  border-bottom: 1px solid #777777; /* Show default active menu item */
}

/* Hero image display */
#hero-image {
  height: 600px;
  width: 100%;
  background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center; /* Added positioning styling to improve image alignment */
  
  /* Call animation set below and set timing and direction */
  animation-name: hero-zoom; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* Hero image animation outer */
#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden; /* Clear header so that image is below header*/
  /* set relative position of parent element */
  position: relative;
}

/* Hero image animation 10% increase in zoom */
@keyframes hero-zoom {
  from {
  transform: scale(1); /* Initial stage 100% */
  }
  to {
  transform: scale(1.1); /* Final stage 110% */
  }
}

#cover-text, #cover-text h2 {
  color: #ffffff;
}

#cover-text {
  /* Style text to fit in to overall style*/
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* Fix area to fit text */
  width: 300px;
  height: 200px;
  /* Padding to keep text clear  */
  padding-top: 40px;
  padding-left: 10px;
  /* Translucent Colour to surround text above image*/
  background-color: rgba(241, 109, 107, .7);
  /* Fix position relative to parent container */
  bottom: 30px;
  right: 170px;
  position: absolute;
}

/* Parent container same height as hero image for conformity */
#club-ethos {
  height: 600px;
}

/* Child elements controlling position of different text elements*/
#left-about {
  padding-top: 30px; /* Push text down filling a larger vertical space */
  width: 33%;
  float: left; /* floats text to left side */
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right; /* floats text to right side */
}

#center-about {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto; /* Centers this text bewtwen the others */
}

/* Horizontal rule under div headings in the club-ethos section */
hr {
  border: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 50%; /* Text is half of page width */
  float: right; /* Pushes text to right to align with photo */
  line-height: 20px; /* To make text easily read */
  clear: both; /* To ensure each block is aligned veritically */
  margin-bottom: 50px; /* Adds space to next div */
}

.right-about-heading {
  width: 50%; /* Text is half of page width */
  float: left; /* Pushes text to left to align with photo */
  line-height: 20px; /* To make text easily read */
  clear: both; /* To ensure each block is aligned veritically */
  margin-bottom: 50px; /* Adds space to next div */
}

.right-about-heading h2 {
  text-align: right; /* to align right hand side symmetrical to left hand side */
}

.right-about-heading p {
  text-align: right; /* to align right hand side symmetrical to left hand side */
}

#welcome {
  margin: 20px 0;
  text-align: center;
  font-size: 280%;
}

#circle-container {
  width: 300px;  
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%; /* Form circle */
  margin: 0 auto; /* Centre the circle */
}

#circle-cover-bg {
  height: 100%;
  background: url('http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png') no-repeat center center; /* Added positioning styling to improve image alignment */  
  border-radius: 50%;
}

/* Backround-image for Meeting Information section */
#times {
  background-image: url('http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
} 

#times div {
  color: #fafafa; /* Set to light color to contrast better with dark background */
  background-color: rgba(0,0,0, .6); /* Set to opaque to dark background to further contrast */
  width: 19%; /* Allowing for gaps */
  height: 300px; /* Half the size of other sections */
  float: left; /* To display panels horizontally within page flow */
  padding: 30px 0 0 10px; /* Padding around panels*/
  text-align: center; /* Spacial balance */
  margin: 2px; /* Space around for clarity */
}

#times h2 {
  color: #fafafa;
}

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #777777;
}

#photo {
  clear: both; /* Display images below header */
  line-height: 0; /* Remove horizontal gaps between images */
  column-count: 4; /* Organise images in 4 columns */
  column-gap: 0; /* Remove vertical gaps between images */
}

#photo img {
  width: 100%; /* Image fills column width */
}

/* For tablets and mobile phones */
@media screen and (max-width: 1393px) {
  /* Section area altered */
   #club-ethos {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
   }
   /* Main section heading reduced */
   #welcome {
    padding: 30px 0;
    margin-top: 0;
   }
   /* Content simplified */
   #left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
   }
   /* Image pushed below text panels */
   #center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
   }
   /* Lines under panel headings removed */
   hr {
    display: none;
   }
}
