@import url('https://fonts.googleapis.com/css2?family=Lato:300&family=Oswald:wght@200..700&display=swap');

/* general styling rules first */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  color: #777777;
}

h2 { 
  font-family: Oswald;
  text-transform: uppercase; /* Make logo uppercase */
  letter-spacing: 4px; /* Space out lettering */
  color: #555555;
}

/* Logo and nav specific styling */
#logo {
  float: left; /* Float logo to left */
  font-size: 280%; /* Enlarge font */
}

#menu {
  font-size: 110%;
  list-style-type: none; /* Remove bullet points from menu items */
  letter-spacing: 4px; /* Space out lettering */
}

#logo, #menu {
  line-height: 75px; /* Create better vertical alignment */
}

#menu li {
  float: right; /* Float menu items to right */
  margin-right: 30px;
}

/* Style links */
#menu a {
  text-decoration: none; /* Remove hyperlink styling */
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777; /* Show selected menu item */
}

.active {
  border-bottom: 1px solid #777777; /* Show default active menu item */
}

/* Hero image display */
#hero-image {
  height: 600px;
  width: 100%;
  background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center; /* Added positioning styling to improve image alignment */
  
  /* Call animation set below and set timing and direction */
  animation-name: hero-zoom; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* Hero image animation outer */
#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden; /* Clear header so that image is below header*/
  /* set relative position of parent element */
  position: relative;
}

/* Hero image animation 10% increase in zoom */
@keyframes hero-zoom {
  from {
  transform: scale(1); /* Initial stage 100% */
  }
  to {
  transform: scale(1.1); /* Final stage 110% */
  }
}

#cover-text, #cover-text h2 {
  color: #ffffff;
}

#cover-text {
  /* Style text to fit in to overall style*/
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* Fix area to fit text */
  width: 300px;
  height: 200px;
  /* Padding to keep text clear  */
  padding-top: 40px;
  padding-left: 10px;
  /* Translucent Colour to surround text above image*/
  background-color: rgba(241, 109, 107, .7);
  /* Fix position relative to parent container */
  bottom: 30px;
  right: 170px;
  position: absolute;
}

/* Parent container same height as hero image for conformity */
#club-ethos {
  height: 600px;
}

/* Child elements controlling position of different text elements*/
#left-about {
  padding-top: 30px; /* Push text down filling a larger vertical space */
  width: 33%;
  float: left; /* floats text to left side */
  background-color: blue;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right; /* floats text to right side */
  background-color: green;
}

#center-about {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto; /* Centers this text bewtwen the others */
  background-color: silver;
}